{% extends "base.html" %}

{% block content %}
<h1>Добавление товара</h1>
{{ message }}
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.product.label }}<br>
        {{ form.product(class="form-control") }}<br>
        {% for error in form.product.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.weight.label }}<br>
        {{ form.weight(class="form-control") }}<br>
        {% for error in form.weight.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.post_picture.label }}<br>
        {{ form.post_picture(class="form-control") }}<br>
        {% for error in form.post_picture.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}